#btmap-map-details input{
  min-width: 0;
}

.travel-maps-metabox-wrapper .input-group{
  margin-bottom: 20px;
}

.travel-maps-metabox-wrapper .input-group label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.travel-maps-metabox-wrapper .input-group input{
  display: block;
  width: 100%;
}

.travel-maps-metabox-wrapper .input-group .caption{
  color: #666;
  font-style: italic;
}

.marker-container{
}

.markers{
  margin-bottom: 50px;
}

.marker-controls{
  display: inline-block;
  width: 180px;
  float: left;
}


.marker-controls .img_wrap{
  display: inline-block;
  float: right;
  margin: -15px 7px;
  width: 32px;
  height: 32px;
}

.marker-controls .img_wrap img{
  width: auto;
  height: auto;
  max-width: 32px;
  max-height: 32px;
}

.insert_marker{
  width: 120px;
  margin: 5px 0px;
  text-align: center;
}

.marker-controls .button{
  width: 120px;
  margin: 5px 0px;
  text-align: center;
}

.marker_row{
  padding: 5px 0px 5px 200px;
}

.marker_row_default label{
  display: inline-block;
  width: 120px;
  margin-right: 20px;
}

.marker_row_default input{
  width: 205px;
}

.marker_row_location label{
  display: inline-block;
  width: 120px;
  margin-right: 20px;
}

.marker_row_location input{
  width: 102px;
}

.marker_row_color label{
  margin-top: -15px;
}

.marker_row_is_open input{
  width: 20px;
}

.marker_row_is_open .caption{
  font-size: 11px;
  font-style: italic;
  color: #666;
}

.location-check-search{
  display: inline-block;
  float: left;
  margin: 15px 30px 25px 0px;
}

.location-check-currc{
  text-align: right;
  font-style: italic;
}

.location-check-search label{
  margin-right: 10px;
  width: 125px;
  display: inline-block;
}

.button-full-width{
  width: 100%;
  outline: none;
}

.caption{
  font-size: 11px;
  font-style: italic;
  color: #666;
}

#btmap-map-assistant{
  background: #fff !important;
  border: none !important;
  padding: 20px 10px 10px;
  text-align: center;
}

#btmap-map-assistant .handlediv, #btmap-map-assistant .hndle {
  display: none !important;
}

#btmap-map-assistant .inside{
  margin: 0;
}

#btmap-map-assistant p{
  margin: 0;
}

#btmap-map-assistant .logo{
  margin: 15px auto 20px auto;
  display: block;
}

#btmap-map-assistant a{
  color: #e23d7e;
}

#btmap-map-assistant .bottom{
  display: block;
  height: 20px;
  text-align: center;
}

#btmap-shortcode{
  padding: 25px 15px;
  text-align: center;
}

#btmap-shortcode code{
  padding: 10px 15px;
  border: 2px dashed #999;
  background-color: #fff;
  display: table;
  margin: 0 auto;
}

#btmap-shortcode code:hover{
  background-color: #f8f8f8;
  border-color: #333;
}

.tutorial-shot
  width: 800px
  max-width: 100%
